.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: start;
}

.form-label{
    display: flex;
    flex-direction: column;
    background-color:rgb(120, 120, 209);
    border-radius: 5px;
    
}